.rectangle-bleu{
	padding: 200px 150px;
	background-color: royalblue;
	border-radius: 50px;
}

.important{
	transition: 300ms;
	background-color: firebrick !important;

}

.good{
	transition: 300ms;
	background-color: limegreen !important;
}

.disapear{
	display: none;
}