*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

nav{
  text-align: center;
  text-decoration: none;
  background-color: #28ab96;
  border: 1px solid black;

}

ul{
  list-style: none;
  padding:0;
}


nav a{
  text-align: center;
  text-decoration: none;
  color: white;
}

nav li{
  padding: 10px 10px 10px 10px;
}

header{

  background-color: rgba(125, 99, 217, 0.95);
  text-align: center;
}

body{
  font-family: 'Open Sans', sans-serif;
  height: auto;
  max-width: 100%;
  font-size: 1.6em;
  color:#555;
  background-color: #f3f2f5;
}

.container{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}


section{

}

aside{
  display: none;
  background-color: #cfe4b5;
  padding: 30px;
  position: relative;
}

h1,
h2,
h3{
  color: #68b1aa;
  padding-bottom: 15px;
  border-bottom: 1px solid #68b1aa;

}

footer{
  width: 70%;
  text-align: center;
  font-size: 10px;

}

main{
  position: relative;
  z-index: 3;
}
nav ul{
  margin: 0;
}

strong{
  background-color: orangered;
  padding:10px;
  top: -80px;
  left: -40px;
  position: relative;
  z-index: 3;
}

em{
  background-color: blue;
  padding: 10px;
  top: 0;
  left: 0;
  position: absolute;
  border: 2px outset hotpink;
  z-index: 2;
}

q{
  background-color: rgba(0, 0, 0, 1);
  padding: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

i{
  background-color: aqua;
  padding: 10px;
  top:-15px;
  left: 30px;
  position: fixed;
}


.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: orange;
/*  display: none;*/
  transition: all 300ms;
  /transform: scaleY(0);
  transform-origin: top;
  top:80px;
  z-index: -1;
  opacity: 0.4;
}

.submenu li{
  display: block;
  padding: 15px;
  top: 100%;
  width: 100%;
}

li:hover .submenu{
  transition: 300ms;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
}



@media screen and (min-width: 767px)
{
  aside{
    display:block;
  }

    nav li{
    display:inline-block;
    position: relative;
    }

  header{
    text-align: center;
    position :fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba(125, 99, 217, 0.95);
  }

  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: orange;
  /*  display: none;*/
    transition: all 300ms;
    /transform: scaleY(0);
    transform-origin: top;
    z-index: -1;
    opacity: 0.5;
  }


}

@media screen and (min-width: 900px)
{
  main{
    font-size: 0;

  }
  aside{
    vertical-align: top;
    display:inline-block;
    width: 30%;
    vertical-align: top;
    font-size: initial;
  }

  section{
    width: 69%;
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    margin-right: 1%;
  }


  header{
    text-align: center;
    position :fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba(125, 99, 217, 0.95);
  }


}
